  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .table-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .medecin-table {
    width: 100%;
  }
  th {
    background-color: rgba(154, 117, 240, 1);
    padding: 8px;
    text-align: center;
  }
  
  td {
    border: 1px solid rgba(154, 117, 240, 1);
    padding: 8px;
    text-align: right; 
  }
  
  .instructions {
    text-align: center;
  }

  
  