<div class="container">
  <div id="medecin" class="table-container">
  <h2>Modification des Médecins</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Spécialité</th>
        <th>Années d'expérience</th>
        <th>ID Service</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medecin of medecinsAjoutes">
        <td>{{ medecin.idMedecin }}</td>
        <td>
          <input type="text" [(ngModel)]="medecin.prenom" [disabled]="!isEditing[medecin.idMedecin]">
        </td>
        <td>
          <input type="text" [(ngModel)]="medecin.nom" [disabled]="!isEditing[medecin.idMedecin]">
        </td>
        <td>
          <input type="text" [(ngModel)]="medecin.specialite" [disabled]="!isEditing[medecin.idMedecin]">
        </td>
        <td>
          <input type="number" [(ngModel)]="medecin.anneesExperience" [disabled]="!isEditing[medecin.idMedecin]">
        </td>
        <td>
          <input type="text" [(ngModel)]="medecin.idService" [disabled]="!isEditing[medecin.idMedecin]">
        </td>
        <td>
          <button (click)="toggleEdit(medecin.idMedecin)">
            {{ isEditing[medecin.idMedecin] ? 'Annuler' : 'Modifier' }}
          </button>
          <button *ngIf="isEditing[medecin.idMedecin]" (click)="saveChanges(medecin)">Sauvegarder</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>